# Data mining, Project group Nestlé

## Happiness Report

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
WHR = pd.read_excel("https://s3.amazonaws.com/happiness-report/2019/Chapter2OnlineData.xls")

In [8]:
WHR.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
WHR.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year',
       'GINI index (World Bank estimate)',
       'GINI index (World Bank estimate), average 2000-16',
       'gini of household income reported in Gallup, by wp5-year',
       'Most people can be trusted, Gallup',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014'],
      dtype='object')

### Features correlations with target value Life Ladder (happinness score)

In [11]:
WHR.corr(method="pearson", min_periods=20)["Life Ladder"].sort_values(ascending=False)

Life Ladder                                                 1.000000
Log GDP per capita                                          0.779064
Healthy life expectancy at birth                            0.736797
Delivery Quality                                            0.707940
Social support                                              0.702461
Democratic Quality                                          0.614572
Most people can be trusted, WVS round 1981-1984             0.554803
Positive affect                                             0.543377
Freedom to make life choices                                0.520988
Most people can be trusted, WVS round 2005-2009             0.477312
Most people can be trusted, WVS round 1994-1998             0.475632
Most people can be trusted, WVS round 2010-2014             0.348629
Most people can be trusted, WVS round 1999-2004             0.266804
Generosity                                                  0.197423
Most people can be trusted, Gallup                          0.189750
Year                                                       -0.007075
Confidence in national government                          -0.092046
GINI index (World Bank estimate)                           -0.106342
Standard deviation of ladder by country-year               -0.184659
GINI index (World Bank estimate), average 2000-16          -0.194244
Most people can be trusted, WVS round 1989-1993            -0.269036
Negative affect                                            -0.279331
gini of household income reported in Gallup, by wp5-year   -0.304404
Perceptions of corruption                                  -0.420750
Standard deviation/Mean of ladder by country-year          -0.753971
Name: Life Ladder, dtype: float64

In [12]:
WHR.corr(method="pearson", min_periods=20)["Life Ladder"].abs().sort_values(ascending=False)

Life Ladder                                                 1.000000
Log GDP per capita                                          0.779064
Standard deviation/Mean of ladder by country-year           0.753971
Healthy life expectancy at birth                            0.736797
Delivery Quality                                            0.707940
Social support                                              0.702461
Democratic Quality                                          0.614572
Most people can be trusted, WVS round 1981-1984             0.554803
Positive affect                                             0.543377
Freedom to make life choices                                0.520988
Most people can be trusted, WVS round 2005-2009             0.477312
Most people can be trusted, WVS round 1994-1998             0.475632
Perceptions of corruption                                   0.420750
Most people can be trusted, WVS round 2010-2014             0.348629
gini of household income reported in Gallup, by wp5-year    0.304404
Negative affect                                             0.279331
Most people can be trusted, WVS round 1989-1993             0.269036
Most people can be trusted, WVS round 1999-2004             0.266804
Generosity                                                  0.197423
GINI index (World Bank estimate), average 2000-16           0.194244
Most people can be trusted, Gallup                          0.189750
Standard deviation of ladder by country-year                0.184659
GINI index (World Bank estimate)                            0.106342
Confidence in national government                           0.092046
Year                                                        0.007075
Name: Life Ladder, dtype: float64

### Unemployement rate data set

In [18]:
TauxChomage = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/tauxchomage.csv")

In [19]:
TauxChomage.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0      AUS     UNEMP     MEN   PC_LF         A  1979  5.162579        NaN
1      AUS     UNEMP     MEN   PC_LF         A  1980  5.068766        NaN
2      AUS     UNEMP     MEN   PC_LF         A  1981  4.808415        NaN
3      AUS     UNEMP     MEN   PC_LF         A  1982  6.345981        NaN
4      AUS     UNEMP     MEN   PC_LF         A  1983  9.716337        NaN

### Poverty rate data set

In [24]:
TauxPauvrete = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/taux_pauvrete.csv")

In [25]:
TauxPauvrete.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS   POVERTY     TOT      RT         A  2012  0.140        NaN
1      AUS   POVERTY     TOT      RT         A  2014  0.128        NaN
2      AUS   POVERTY     TOT      RT         A  2016  0.121        NaN
3      AUT   POVERTY     TOT      RT         A  2007  0.097        NaN
4      AUT   POVERTY     TOT      RT         A  2008  0.092        NaN

### Child mortality rate data set

In [21]:
TauxMortaliteInfantile = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/taux_mortalite_infantile.csv")

In [22]:
TauxMortaliteInfantile.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2006,4.7,NaN
1,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2007,4.1,NaN
2,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2008,4.1,NaN
3,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2009,4.2,NaN
4,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2010,4.1,NaN

### Suicide rate data set

In [27]:
TauxSuicide = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/tauxsuicide.csv")

In [17]:
TauxSuicide.head()

  LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS   SUICIDE     TOT  100000PER         A  2006   10.5        NaN
1      AUS   SUICIDE     TOT  100000PER         A  2007   10.6        NaN
2      AUS   SUICIDE     TOT  100000PER         A  2008   10.9        NaN
3      AUS   SUICIDE     TOT  100000PER         A  2009   10.7        NaN
4      AUS   SUICIDE     TOT  100000PER         A  2010   10.9        NaN